<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302897837755-refc2i53sv4mq6o9r8kpmsuu59634t6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302897837755-refc2i53sv4mq6o9r8kpmsuu59634t6f</string>
	<key>API_KEY</key>
	<string>AIzaSyCC1zUuNaci2RJasXXG-eADSHaGzj4DcVs</string>
	<key>GCM_SENDER_ID</key>
	<string>302897837755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saharak.manoo.eTrackings</string>
	<key>PROJECT_ID</key>
	<string>etracking-service</string>
	<key>STORAGE_BUCKET</key>
	<string>etracking-service.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302897837755:ios:0ab55df18a76d930bb1b9e</string>
	<key>DATABASE_URL</key>
	<string>https://etracking-service.firebaseio.com</string>
</dict>
</plist>